<!-- snippets/blog.liquid -->
{% if section_number > 1 and number_of_index_sections > 1 %}
  <hr class="hr--clear">
{% endif %}

<div class="featured-page-content wrapper">
  <h2>Latest Posts</h2>

  <ul class="hero_blog">

    {% for article in blogs.news.articles limit: 3 %}
      <li class="hero_blog_post">
        <div class="img_Box">
          <a href="{{ article.url }}"><img src="{{ article.image.src | img_url: 'large' }}"></a>
        </div>
        <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
        {{ article.published_at | date: "%a, %b %d, %Y" }}
        <p>{{ article.excerpt }}</p>
        {{ article.comments_count }} Comments
      </li>

  {% endfor %}

  </ul>
</div>

{% comment %}
  Add bottom spacing if it's the last index section
{% endcomment %}
{% if section_number == number_of_index_sections %}
  <hr class="hr--clear">
{% endif %}


